In [8]:
%run ../functions.ipynb

In [2]:
import os
import pandas as pd
import numpy as np

In [11]:
pd.options.display.max_rows = 6

## Getting raw data and type_bool (IA or not IA)

In [3]:
path_to_read = '../../data/raw/'
files = []

# r=root, d=directories, f = files
for r, d, f in os.walk(path_to_read):
    for file in f:
        if '.DAT' in file:
            files.append(os.path.join(r, file))

In [9]:
df = pd.DataFrame(columns = ['ID', 'type'])
for i, obj in enumerate(files):
    ID, tp = get_label(obj)
    df.loc[i] = [ID, tp]
df['type_bool'] = False 
df['type_bool'].loc[np.where(df['type'] == 'Ia')] = True
#df.to_pickle("../../data/df_labels.pkl")

/home/fmoliveira/.local/lib/python3.6/site-packages/pandas/core/indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [12]:
df

             ID type  type_bool
0      SN125764  IIn      False
1      SN513286   Ic      False
2      SN501595   II      False
...         ...  ...        ...
21314  SN789717   Ic      False
21315  SN147538   II      False
21316   SN52860   II      False

[21317 rows x 3 columns]

In [23]:
#df_label = pd.read_pickle("../../data/df_labels.pkl")
df_label

             ID type  type_bool
0      SN554563   II      False
1      SN454964   II      False
2      SN537864   II      False
3      SN528418   II      False
...         ...  ...        ...
21313  SN710827   II      False
21314   SN51813   Ia       True
21315  SN599115   II      False
21316  SN308423   Ib      False

[21317 rows x 3 columns]

## Getting Redshift

In [7]:
zspec = pd.read_csv("../../data/zspec.csv")
zpsec.columns = ['ID', 'REDSHIFT_SPEC']
zspec['ID'] = 'SN' + zspec['ID'].astype(str)
zspec

             ID  REDSHIFT_SPEC
0      SN555557        0.89174
1      SN119309        0.30850
2      SN600220        0.63943
3      SN419675        0.92712
4      SN485017        0.88103
5      SN253020        0.29424
6      SN868147        0.91414
7      SN517063        0.65154
8       SN84987        0.19953
9      SN212098        0.66477
10     SN851279        0.86884
11     SN845340        0.87028
12     SN851344        0.67261
13      SN79220        0.72343
14     SN449600        0.92522
15     SN393894        0.81381
16     SN448036        0.16692
17       SN8904        0.84507
18     SN851555        0.90785
19     SN818859        1.03175
20     SN634432        0.77139
21      SN66171        0.44487
22     SN241832        1.02499
23     SN233641        0.57271
24     SN594556        0.21510
25     SN106310        0.95657
26     SN636092        0.67457
27     SN769696        0.31466
28     SN674381        0.54630
29     SN455653        0.37485
...         ...            ...
21289   SN74022        0.83524
21290  SN279608        0.60027
21291  SN653112        1.00191
21292  SN577235        0.61554
21293  SN838450        0.79257
21294  SN373286        0.59838
21295  SN867290        0.54682
21296  SN724328        0.62782
21297    SN3134        0.93286
21298  SN886132        0.99771
21299  SN581724        0.86241
21300  SN284928        1.02089
21301  SN630512        0.49429
21302  SN209931        0.21946
21303   SN96530        0.62749
21304   SN37402        0.77302
21305  SN729535        1.00453
21306  SN239447        1.06128
21307  SN398552        1.00206
21308  SN344751        0.40501
21309  SN383946        0.83882
21310   SN95394        0.34728
21311  SN154897        0.66075
21312  SN135866        0.53294
21313  SN751871        0.80432
21314  SN547849        0.73540
21315  SN256832        0.50569
21316  SN469949        0.74066
21317  SN816462        0.31025
21318   SN40482        0.45767

[21319 rows x 2 columns]

In [9]:
df_redshift = pd.concat([df_label.set_index('ID'), zspec.set_index('ID')], axis = 1 , join = "inner", sort = 'True')
df_redshift.to_pickle("../../data/df_redshift.pkl")