In [1]:
%run gen_files_array.ipynb

In [21]:
%run ../functions.ipynb

In [40]:
#df = pandas.DataFrame(columns = ['ID', 'type'])
#
#for i, obj in enumerate(files):
#    ID, tp = get_label(obj)
#    df.loc[i] = [ID, tp]
##df.to_pickle("./df_labels.pkl")

In [ ]:
df_label = pd.read_pickle("../../data/processed/df_labels.pkl")

In [3]:
df_label['type_bool'] = False 
df_label['type_bool'].loc[np.where(df_label['type'] == 'Ia')] = True

In [23]:
df_label

             ID type  type_bool
0      SN554563   II      False
1      SN454964   II      False
2      SN537864   II      False
3      SN528418   II      False
...         ...  ...        ...
21313  SN710827   II      False
21314   SN51813   Ia       True
21315  SN599115   II      False
21316  SN308423   Ib      False

[21317 rows x 3 columns]

In [24]:
df_label.to_pickle("./df_labels.pkl")